body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #072150;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 15pt;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}

.nav-logo {
    height: 40%;
}

.nav-logo img {
    height: 100%;
    cursor: pointer;
    filter: invert(1);
}

.nav-logo img:hover {
    filter: grayscale(5%);
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-link-item {
    position: relative;
}

.nav-link-item a {
    display: block;
    padding: 15px;
}

.nav-link-item .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-link-item .submenu a {
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.nav-link-item .submenu a:hover {
    background-color: #ddd;
}

.nav-link-item:hover .submenu {
    display: block;
}

.nav-user {
    height: 80%;
    margin-left: 20px; /* Adiciona um espaço entre os links de navegação e o ícone de usuário */
}

.nav-user img {
    height: 100%;
    cursor: pointer;
    filter: invert(1);
}

.nav-user img:hover {
    filter: grayscale(5%);
}

header.header {
    background-color: #072150;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: #fff;
}

.header-title {
    font-size: 15pt;
    font-weight: bold;
}

.header-action {
    height: 100%;
}

.add-button {
    background-color: #fff;
    border: none;
    color: #072150;
    font-size: 20pt;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 25%;
}

a {
    color: #000000;
    text-decoration: none;
}

.add-button:hover {
    background-color: #ddd;
}

.search-section {
    padding: 20px;
    text-align: center;
}

.search-bar {
    width: 80%;
    padding: 10px;
    font-size: 14pt;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button a{
    color: #000;
}

.clients-section {
    padding: 20px;
}

.client-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.client-code {
    width: 50px;
    font-weight: bold;
}

.client-name {
    padding-left: 20px;
}
